@charset "UTF-8";

label {
	padding: 10px;
}

td.description-cell .block {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
}

.table-head {
	text-align: center !important;
	width: 121px;
}

th {
	background: #607d8b !important;
	color: white !important;

}

.ui-tag {
	font-size: 1.4rem !important;
	width: 40vw;
	min-width: 300px;
	min-height: 40px;
}

.ui-selectonemenu,
.hasDatepicker {
	width: 175px !important;
	height: 37px !important
}

body .ui-button {
	padding-right: 0.8rem !important;
}

body .ui-button.rounded-button.ui-button-icon-only {
	margin: 5px !important;
}

.ui-datatable {
	margin-top: 25px;
	height: 377px;
}

.header {
	height: 80px;
	max-height: 90px;
	display: flex;
	background: #607d8b;
	align-items: center;
	justify-content: center;
	width: 56rem;
}

.body {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 1.2rem;
}

body .ui-messages .ui-messages-error,
body .ui-messages .ui-messages-fatal {
	background: #ffcdd2;
	border: 1px solid #ef5350;
	border-width: 0 0 0 6px;
	color: #b71c1c;
	display: flex;
}

.panel {
	width: 76vw !important;
	min-width: 380px;
}

.panel .panel-body {
	display: flex;
	flex-direction: row;
}

.title-bar-inverted {
	background: #495057 !important;
	color: #f8f9fa !important;
}

body .ui-panel .ui-panel-titlebar+.ui-panel-content {
	height: 42rem;
}

body .ui-panel .ui-panel-titlebar {
	background: #607d8b;
	color: white;
}

.panel-body .panel-label-column {
	display: flex;
	height: 18vh;
	flex-direction: column;
	width: 12%;
	text-align: right;
	justify-content: space-between;
}

.panel-body .panel-input-column {
	display: flex;
	flex-direction: column;
	height: 18vh;
	width: 80%;
	justify-content: space-between;
}

.panel-input-column #input-number-filter {
	width: 25%;
	height: 41px;
}

.panel-input-column #input-title-filter {
	height: 41px;
}

.panel-input-column .panel-input-column-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.table {
	margin-top: 35px;
}

.table .th-number,
.th-title {
	width: 150px;
}

.create-task-btn {
	float: right;
}

.panel {
	width: 70vw;
	min-width: 380px;
}

.panel .panel-row-title,
.panel-row-deadline {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	width: 100%;
}

.panel-title-label,
.panel-description-label {
	width: 150px;
	text-align: right;
	margin-top: 6px;
}

.panel-input-title {
	margin-left: 20px;
}

.title {
	width: 35rem !important;
}

.ui-panel-content {
	padding: 30px !important;
}

.input-title,
.input-textarea-description {
	width: 55vw;
}