# Arquivos de configuração
.classpath
.project
.settings/

# Arquivos compilados
/target/

# Logs e arquivos gerados
/log/
*.log

# Cache e arquivos temporários
/cache/
*.tmp

# Arquivos de build
/build/
/dist/

# Dependências gerenciadas pelo Maven
/lib/

# IDE specific files
.idea/
*.iml
*.ipr
*.iws
target/classes/com/rlourenco/entity/Task.class
*.class
.classpath
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
target/m2e-wtp/web-resources/META-INF/maven/com.rlourenco/task-manager-jsf/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/com.rlourenco/task-manager-jsf/pom.properties
target/classes/com/rlourenco/entity/Task.class
